@model Hotel_Management.Models.Booking

@{
    ViewBag.Title = "Delete";
}
<div class="container1 bg-black">
    <div class="main1 ">


        <h2 class="text-decoration-underline ps-3 pt-3">Delete Booking(s)</h2>
        <div>
            <h3 class="ps-3">Are you sure you want to delete this?</h3>
            <hr />
            <dl class="dl-horizontal">
                <div class="container ps-4 pb-3">
                    <div class="row g-2">

                        <div class="col-lg-6">
                            <dt>
                                @Html.DisplayNameFor(model => model.Check_In_Date)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Check_In_Date)
                            </dd>
                        </div>

                        <div class="col-lg-6">
                            <dt>
                                @Html.DisplayNameFor(model => model.Check_Out_Date)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Check_Out_Date)
                            </dd>
                        </div>

                        <div class="col-lg-6">
                            <dt>
                                @Html.DisplayNameFor(model => model.Total_Price)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Total_Price)
                            </dd>
                        </div>

                        <div class="col-lg-6">
                            <dt>
                                @Html.DisplayNameFor(model => model.Room.Room_Type)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Room.Room_Type)
                            </dd>
                        </div>

                        <div class="col-lg-6">
                            <dt>
                                @Html.DisplayNameFor(model => model.Guest.First_Name)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Guest.First_Name)
                            </dd>
                        </div>
                    </div>
                </div>

            </dl>

        </div>
    </div>
   </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-success mt-2 fw-bold ms-3 mb-3" /> |
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success text-white mt-2 bg-primary fw-bold mb-3" })
        </div>
    }

