@model Hotel_Management.Models.Guest

@{
    ViewBag.Title = "Create";
}

<div class="container1 bg-black">
    <div class="main1 ">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2 class="text-decoration-underline ps-3 pt-3">Guest</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="container ps-4">
                <div class="row g-2">

                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Guest_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Guest_ID, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Guest_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group ">
                            @Html.LabelFor(model => model.First_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.First_Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.First_Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Last_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Last_Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Last_Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Phone_Number, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Phone_Number, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Phone_Number, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10 pb-3">
                                <input type="submit" value="Create" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
            </div>


            <div class="text-center">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success text-white mt-3 bg-primary fw-bold" })
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
