@model Hotel_Management.Models.Guest

@{
    ViewBag.Title = "Details";
}
<div class="container1 bg-black">
    <div class="main1 ">
        <div>
            <h2 class="text-decoration-underline ps-3 pt-3">Details of Booking</h2>
            <hr />


            <dl class="dl-horizontal">
                <div class="container ps-4 pb-3">
                    <div class="row g-2">

                        <div class="col-lg-6">
                            <dt>
                                @Html.DisplayNameFor(model => model.First_Name)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.First_Name)
                            </dd>
                        </div>

                        <div class="col-lg-6">
                            <dt>
                                @Html.DisplayNameFor(model => model.Last_Name)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Last_Name)
                            </dd>
                        </div>

                        <div class="col-lg-6">
                            <dt>
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                        </div>

                        <div class="col-lg-6">
                            <dt>
                                @Html.DisplayNameFor(model => model.Phone_Number)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Phone_Number)
                            </dd>
                        </div>
                        

                        

                        

                       



                    </div>
                </div>
            </dl>
        </div>
    </div>
</div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Guest_ID }, new { @class = "btn btn-success mt-2 fw-bold" }) |
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success text-white mt-2 bg-primary fw-bold" })
        </p>
